iapp {
    .app {
        margin: 5px;
        width: 100px;
        height: 100px;
        position: relative;
        .app-icon {
            background-color: #f3f3f3;
            border-radius: 20px;
            box-shadow: 2px 2px 1px #bebebe;
            width: 70px;
            height: 70px;
            margin: auto;
        }
        .app-desc {
            font-size: 10px;
            text-align: center;
            font-weight: bold;
            padding: 4px;
            color: #555271;
        }
        .app-delete-warp {
            position: absolute;
            width: 30px;
            height: 30px;
            top: -10px;
            right: 5px;
            .app-delete {
                width: 20px;
                height: 20px;
                border-radius: 60%;
                position: absolute;
                top: 5px;
                right: 0px;
                background-color: #dadada;
                text-align: center;
                color: #484847;
            }
        }
    }
}